# Catatan
## Catatan
### Catatan

In [48]:
print("Menampilkan tulisan")
print("Menampilkan kedua")

Menampilkan tulisan
Menampilkan kedua

In [49]:
print(type(21))
print(type(2.3))
type(32)

<class 'int'>
<class 'float'>

int

In [50]:
print(1+2)
print(3+4)

3
7

- Penjumlahan: +
- Pengurangan: -
- Perkalian: X
- Pembagian: /
- Pangkat: **
- Sisa Bagi: %
- Pembagian Integer: //

In [51]:
12 % 3
9 // 3

3

- Math Operators
- Boolean
- String

In [52]:
print("Hello World".upper())
print("Hello World".lower())
print("Hello World and afterlife".title())

HELLO WORLD
hello world
Hello World And Afterlife

## Variables

In [53]:
messages_1 = "Ini belajar python" #Ini otomatis bertipe string
messages_2 = 4 #Ini otomatis bertipe integer
print(messages_1)
print(messages_2)

Ini belajar python
4

In [54]:
#Hanya dapat menampilkan 1 data saja
messages_1
# messages_2

'Ini belajar python'

In [55]:
kata_1 = "Ini tes penambahan data"
kata_2 = "Hasilnya seperti ini"
kata_1 + kata_2

'Ini tes penambahan dataHasilnya seperti ini'

In [56]:
kata_1 + " " + kata_2

'Ini tes penambahan data Hasilnya seperti ini'

In [57]:
kata = f'{kata_1} {kata_2}'
kata

'Ini tes penambahan data Hasilnya seperti ini'

## List

In [58]:
countries = ['China', 'Rusia', 'Indonesia', 'Korea Utara']
print (countries)
print (countries[0])
print (countries[1])
print (countries[2])
print (countries[3])
# print (countries[4]) #Error
print (countries[-3])
print (countries[-2])
print (countries[-1])
print (countries[0])

['China', 'Rusia', 'Indonesia', 'Korea Utara']
China
Rusia
Indonesia
Korea Utara
Rusia
Indonesia
Korea Utara
China

## Slicing

In [59]:
print(countries)
print(countries[1:4])
print(countries[2:4])
print(countries[3:4])
print(countries[:3])
print(countries[2:])

['China', 'Rusia', 'Indonesia', 'Korea Utara']
['Rusia', 'Indonesia', 'Korea Utara']
['Indonesia', 'Korea Utara']
['Korea Utara']
['China', 'Rusia', 'Indonesia']
['Indonesia', 'Korea Utara']

## Menambahkan elemen

In [60]:
countries = ['China', 'Rusia', 'Indonesia', 'Korea Utara']
countries.append('Uni Soviet')
countries

['China', 'Rusia', 'Indonesia', 'Korea Utara', 'Uni Soviet']

In [61]:
countries.insert(1,'Iran')
countries

['China', 'Iran', 'Rusia', 'Indonesia', 'Korea Utara', 'Uni Soviet']

In [62]:
country_2 = ['Italia', 'Spanyol']
unite_country = countries + country_2
unite_country

['China',
 'Iran',
 'Rusia',
 'Indonesia',
 'Korea Utara',
 'Uni Soviet',
 'Italia',
 'Spanyol']

## Remove Elemen

In [63]:
countries = ['China', 'Rusia', 'Indonesia', 'Korea Utara']
print(countries)

#remove
countries.remove('Korea Utara')
print(countries)

#pop
countries.pop(2)
print(countries)

del countries[1]
print(countries)

['China', 'Rusia', 'Indonesia', 'Korea Utara']
['China', 'Rusia', 'Indonesia']
['China', 'Rusia']
['China']

## Mengurutkan Data

In [64]:
angka = [3, 5, 2, 1, 7, 4]
angka.sort()
angka

[1, 2, 3, 4, 5, 7]

In [65]:
angka.sort(reverse=True)
angka

[7, 5, 4, 3, 2, 1]

In [66]:
angka[2] = 4
angka

[7, 5, 4, 3, 2, 1]

In [67]:
countries = ['China', 'Rusia', 'Indonesia', 'Korea Utara']
countries

['China', 'Rusia', 'Indonesia', 'Korea Utara']

In [68]:
list_baru = countries[:]
list_baru2 = countries.copy()
print(list_baru)
print(list_baru2)

['China', 'Rusia', 'Indonesia', 'Korea Utara']
['China', 'Rusia', 'Indonesia', 'Korea Utara']

## Dictionary

In [69]:
data_saya = {'nama' : 'Bima Egi Alfareza', 'Usia' : 20, 'alamat' : 'banjarbaru', 'menikah' : True}
data_saya

{'nama': 'Bima Egi Alfareza',
 'Usia': 20,
 'alamat': 'banjarbaru',
 'menikah': True}

In [70]:
data_saya.keys()

dict_keys(['nama', 'Usia', 'alamat', 'menikah'])

In [71]:
print(data_saya.keys())
print(data_saya['nama'])
print(data_saya['alamat'])
print(data_saya.values())
print(data_saya.items())

dict_keys(['nama', 'Usia', 'alamat', 'menikah'])
Bima Egi Alfareza
banjarbaru
dict_values(['Bima Egi Alfareza', 20, 'banjarbaru', True])
dict_items([('nama', 'Bima Egi Alfareza'), ('Usia', 20), ('alamat', 'banjarbaru'), ('menikah', True)])

In [72]:
data_saya['tinggi'] = 170 
print(data_saya.items())

dict_items([('nama', 'Bima Egi Alfareza'), ('Usia', 20), ('alamat', 'banjarbaru'), ('menikah', True), ('tinggi', 170)])

In [73]:
data_saya.update({'nama' : 'Bima Egi Alfareza', 'bahasa' : ['Indonesia','Inggris','Jepang']})
data_saya

{'nama': 'Bima Egi Alfareza',
 'Usia': 20,
 'alamat': 'banjarbaru',
 'menikah': True,
 'tinggi': 170,
 'bahasa': ['Indonesia', 'Inggris', 'Jepang']}

In [74]:
data_dia=data_saya.copy()
data_dia

{'nama': 'Bima Egi Alfareza',
 'Usia': 20,
 'alamat': 'banjarbaru',
 'menikah': True,
 'tinggi': 170,
 'bahasa': ['Indonesia', 'Inggris', 'Jepang']}

In [75]:
data_dia.pop('menikah')
data_dia

{'nama': 'Bima Egi Alfareza',
 'Usia': 20,
 'alamat': 'banjarbaru',
 'tinggi': 170,
 'bahasa': ['Indonesia', 'Inggris', 'Jepang']}

In [76]:
del data_dia['tinggi']
data_dia

{'nama': 'Bima Egi Alfareza',
 'Usia': 20,
 'alamat': 'banjarbaru',
 'bahasa': ['Indonesia', 'Inggris', 'Jepang']}

In [77]:
data_dia.clear()
data_dia

{}

## If statement

In [79]:
age = 8
if age >= 18:
    print("anda Dewasa")
elif age >= 13:
    print("Anda Remaja")
else:
    print("Anda anak-anak")

Anda anak-anak

In [80]:
countries = ['Indonesia', 'Russia', 'Tiongkok', 'Korea Utara']

if 'Tiongkok' in countries:
    print("Negara dalam list")
else:
    print("Negara tidak dalam list")

Negara dalam list

## For Looping (Perulangan)

In [82]:
for country in countries:
    print(country)

Indonesia
Russia
Tiongkok
Korea Utara

In [84]:
for negara in countries:
    print(negara)
    
print("=========")

for negara in countries:
    if negara == 'Indonesia':
        print(negara)
    
print("=========")

for i, negara in enumerate(countries):
    print(i, negara)

Indonesia
Russia
Tiongkok
Korea Utara
=========
Indonesia
=========
0 Indonesia
1 Russia
2 Tiongkok
3 Korea Utara

In [85]:
def sum_values(a,b):
    x = a+b
    return x

In [86]:
print(sum_values(10,2))
print(sum_values(9,20))
print(sum_values(15,200))

12
29
215